<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{> header}}
  <div class="container">
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    {{{body}}}
  </div>
  <script src="/javascripts/fontAwsome.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>